# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
# Immediately show all possible completions
set show-all-if-ambiguous on

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word
